{% extends "reg6/reg.html" %}
{% load i18n %}
{% load reg6_filters %}
{% block content %}
<div id="content-main">

{% if tickets %}
    <p>
    SCALE Registration is a three part process:

    <ol>
    <li>Registration (Select ticket type, add optional items, input attendee info)</li>
    <li>Order (select one or more attendees to pay for)</li>
    <li>Payment (you will be directed to Paypal Payflow Link for payment)</li>
    </ol>

    Paypal accepts VISA, Mastercard, American Express, and Discover. You do not
    need a Paypal account to purchase tickets.
    </p>

    <p>
    Please start the registration process by selecting a ticket type:
    </p>

    <form method="post" action="add_items/">
    <table border="1">
    <tr>
        <th>&nbsp;</th>
        <th>Ticket</th>
        <th>Price</th>
    </tr>
    {% for t in tickets %}
        <tr>
        <td><input type="radio" name="ticket" value="{{ t.name|escape }}" /></td>
        <td>{{ t.description|escape }}</td>
        <td>{{ t.price|money|escape }}</td>
        </tr>
    {% endfor %}
    </table>

    {% if promo %}
    <p>
    Using promo code:
    <b>{{ promo|escape }}</b>.
    <input type="hidden" name="promo" value="{{ promo|escape }}" />
    </p>
    {% else %}
    <p>
    If you have a promo code, enter it here:
    </p>

    <p>
    <input type="text" name="promo" maxlength="5" size="5" />
    </p>
    <p>
    Students and School Faculty may use STDNT to get 50% off.<br />
    Please have a valid school ID with you during SCALE checkin on the day of
    the event.
    </p>
    {% endif %}

    <p>
    <input type="submit" value="Continue" />
    </p>
    </form>

    <h2>
    Other Options:
    </h2>

    <p>
    <form method="post" action="start_payment/">
    <input type="submit" value="Order Tickets" />
    </form>
    </p>

    {% if promo %}
    <p>
    <form method="post" action=".">
    <input type="submit" value="Change promo code" />
    </form>
    </p>
    {% endif %}
{% else %}
Registration is closed.
{% endif %}
</div>
{% endblock %}

