{% extends "reg6/reg.html" %}
{% load i18n %}
{% load reg6_filters %}
{% block content %}
<div id="content-main">

{% if attendees and total %}
    <br />
    <h2>
    You are paying for the follow attendees:
    </h2>

    <p>
    <table border="1">
    <tr>
    <th>Registration Number</th>
    <th>Name</th>
    <th>Email</th>
    <th>Amount</th>
    </tr>
    {% for person  in attendees %}
    <tr>
        <td>{{ person.id|escape }}</td>
        <td>{{ person.first_name|escape }} {{ person.last_name|escape }}</td>
        <td>{{ person.email|escape }}</td>
        <td>{{ person.ticket_cost|money|escape }}</td>
    </tr>
    {% endfor %}
    </table>
    </p>

    <p>
    Total: {{ total|money|escape }}
    </p>

    <h2>Payment Through Paypal Payflow Link:</h2>

    <p>
    You will now be redirected to Paypal Payflow Link to make the payment. 
    Paypal accepts VISA, Mastercard, American Express, and Discover. You do not
    need a Paypal account to purchase tickets. We do not handle your credit
    card information at all.
    </p>

    <p>
    Remember to return back to the SCALE site to complete the payment process.
    </p>

    <form method="post" action="https://payflowlink.paypal.com/">
    <input type="hidden" name="LOGIN" value="PAYFLOW_LOGIN">
    <input type="hidden" name="PARTNER" value="verisign">
    <input type="hidden" name="AMOUNT" value="{{ total|escape }}">
    <input type="hidden" name="TYPE" value="S">
    <input type="hidden" name="USER1" value="{{ order|escape }}">
    <input type="submit" value="Continue" />
    </form>

    <form method="post" action="../">
    <p>
    <input type="submit" value="Start Over" />
    </p>
    </form>
{% else %}
    <h2>Not Enough Information</h2>
{% endif %}

</div>
{% endblock %}

