{% extends "reg6/list.html" %}
{% load i18n admin_modify adminmedia %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="/">{% trans "Home" %}</a> &rsaquo;
     <a href="/reports/">Reports</a> &rsaquo;
     Tickets &rsaquo;
</div>
{% endif %}{% endblock %}
{% block content %}<div id="content-main">

{% if object_list %}
    <table border="1">
    <tr>
        {% for field in field_list %}
        {% ifequal field order %}
            {% ifequal dec 1 %}
            <th><a href="?order={{ field|escape }}&{{ urlpart }}">{{ field|escape }}&nbsp;&#x25BC;</a></th>
            {% else %}
            <th><a href="?order={{ field|escape }}&dec&{{ urlpart }}">{{ field|escape }}&nbsp;&#x25B2;</a></th>
            {% endifequal %}
        {% else %}
            <th><a href="?order={{ field|escape }}&{{ urlpart }}">{{ field|escape }}</a></th>
        {% endifequal %}
        {% endfor %}
    </tr>
    {% for o in object_list %}
    <tr>
        <td>{{ o.name|escape }}</td>
        <td>{{ o.description|escape }}</td>
        <td>{{ o.type|escape }}</td>
        <td>{{ o.price|escape }}</td>
        <td>{{ o.public|escape }}</td>
        <td>{{ o.start_date|escape }}</td>
        <td>{{ o.end_date|escape }}</td>
    </tr>
    {% endfor %}
    </table>
    <p>
    <b>Total {{ title|escape }}</b>: {{ numbers|escape }}<br />
    </p>
{% else %}
    <p>No tickets available.</p>
{% endif %}

</div>
{% endblock %}
