{% extends "admin/base_site_reg.html" %}
{% load i18n %}
{% block content %}
<div id="content-main">
{% if speaker %}
    <p>
    <b>Your contact email is:</b> {{ speaker.contact_email }}.
    </p>

    {% if email_sent %}
    Your speaker validation code has been emailed to you. Once you get your
    validation code, you can
    <a href="../submit_presentation/">submit presentations</a>.
    {% else %}
    <p>
    <b>Your speaker validation code is:</b> {{ speaker.validation_code }}.
    </p>

    <p>
    <b>Please save the above information</b>,
    you will need it when
    <a href="../submit_presentation/">submitting presentations.
    (click here to continue)</a>
    </p>
    {% endif %}

    <p>
    You have registered a speaker with the following info:
    </p>

    <table>
    <tr>
        <td>Salutation</td>
        <td>{{ speaker.salutation }}</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{ speaker.first_name }}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{ speaker.last_name }}</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>{{ speaker.title }}</td>
    </tr>
    <tr>
        <td>Organization</td>
        <td>{{ speaker.org }}</td>
    </tr>
    <tr>
        <td>Zip Code</td>
        <td>{{ speaker.zip }}</td>
    </tr>
    <tr>
        <td>Speaker Email</td>
        <td>{{ speaker.email }}</td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>{{ speaker.phone }}</td>
    </tr>
    <tr>
        <td>Website</td>
        <td>{{ speaker.url }}</td>
    </tr>
    </table>
{% else %}
    Error: No speaker info.
{% endif %}
</div>
{% endblock %}

