{% extends "admin/base_site_reg.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans "Home" %}</a> &rsaquo; {% trans "Server error" %}</div>{% endblock %}

{% block title %}{% trans 'Server error (500)' %}{% endblock %}

{% block content %}
<h1>{% trans 'Server Error <em>(500)</em>' %}</h1>
<p>There's been an error. Please report this. Thanks for your patience.</p>
<p>
{% if error_message %}
    Error: {{ error_message }}<br />
    {% if url %}
        URL: {{ url }}
    {% endif %}
{% else %}
Error 0xBADBEEF2
{% endif %}
</p>

{% endblock %}
