{% extends "reg6/reg.html" %}
{% load i18n %}
{% load reg6_filters %}
{% block content %}
<div id="content-main">

{% if search %}
    <hr />

    <p>
    {% if email and zip %}
        Search results for: {{ email }} and {{ zip }}.
    {% else %}
        Please fill out all required fields to search.
    {% endif %}
    </p>

    {% if attendees %}
        <table border="1">
        <head>
        <tr>
            <th>Registration Number</th>
            <th>Name</th>
            <th>Paid For</th>
        </tr>
        </thead>
        <tbody>
        {% for person in attendees %}
            <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.first_name }} {{ person.last_name }}</td>
            <td>
            {% if person.valid %}
            Yes
            {% else %}
            No
            {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

    <hr />
{% endif%}

<p>
Use this form to look up existing registrations. All fields are required.
</p>

<p>
<form method="post" action=".">
<table>
<tr>
    <td>Email</td>
    <td><input type="text" name="email" maxlength="75" size="50" /></td>
</tr>
<tr>
    <td>Zip/Postal Code</td>
    <td><input type="text" name="zip" maxlength="10" size="10" /></td>
</tr>
</table>
<input type="submit" value="Search" />
</form>
</p>

<p>
When you are done, click one of the buttons below
to return to your previous form.
</p>

<p>
<form method="get" action="../start_payment/">
<input type="submit" value="Pay For Registration" />
</form>
</p>
</div>
{% endblock %}

