{% extends "reg6/list.html" %}
{% load i18n admin_modify adminmedia %}
{% block content %}<div id="content-main">

{% if object_list %}
    <table border="1" class="sortable">
    <tr>
        {% for field in field_list %}
        <th>{{ field }}</th>
        {% endfor %}
    </tr>
    {% for o in object_list %}
    <tr>
        <td>{{ o.name }}</td>
        <td>{{ o.description }}</td>
        <td>{{ o.type }}</td>
        <td>{{ o.price }}</td>
        <td>{{ o.public }}</td>
        <td>{{ o.start_date }}</td>
        <td>{{ o.end_date }}</td>
    </tr>
    {% endfor %}
    </table>
    <p>
    <b>Total {{ title }}</b>: {{ numbers }}<br />
    </p>
{% else %}
    <p>No tickets available.</p>
{% endif %}

</div>
{% endblock %}
