{% extends "sponsorship_base.html" %}
{% load i18n %}
{% load reg23_filters %}
{% block content %}
<div id="content-main">
<style type="text/css">
.reg23_form_error { color: #FF0000; font-weight: bold }
.reg23_label { font-weight: normal }
b { font-weight: bold }
</style>

{% if package and total %}
    {% if promo %}
    <p>
    You are using promo code <b>{{ promo }}</b>.
    </p>
    {% endif %}

    <p>
    Your {{ package.description }} costs {{ package.price|money }}.
    </p>

    {% if items %}
    <p>
    You added the following additional items:
    </p>

    <p>
    {% for item in items %}
        * {{ item.description }} ({{ item.price|money }})<br />
    {% endfor %}
    </p>
    {% endif %}

    {% if offset_item %}
    <p>
    You received the following credits:
    </p>

    <p>
    * {{ offset_item.description }} waives the package price of
      {{ package.price|money }}.
    </p>
    {% endif %}

    <p>
    Your total is {{ total|money }}.
    </p>

    <p>
    We now need the following information from you. The fields in <b>bold</b>
    are required.
    </p>

    <form method="post" action=".">

    <input type="hidden" name="promo" value="{{ promo }}" />
    <input type="hidden" name="package" value="{{ package.name }}" />
    {% for item in items %}
        <input type="hidden" name="item{{ forloop.counter0 }}" value="{{ item.name }}" />
    {% endfor %}

    <table>
    {% if form.salutation.errors %}
    <tr>
        <td colspan="2" class="reg23_form_error">{{ form.salutation.errors|join:", " }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><label class="reg23_label" for="id_salutation">Salutation:</label></td>
        <td>{{ form.salutation }}</td>
    </tr>
    {% if form.first_name.errors %}
    <tr>
        <td colspan="2" class="reg23_form_error">{{ form.first_name.errors|join:", " }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><label class="reg23_label" for="id_first_name"><b>First Name:</b></label></td>
        <td>{{ form.first_name }}</td>
    </tr>
    {% if form.last_name.errors %}
    <tr>
        <td colspan="2" class="reg23_form_error">{{ form.last_name.errors|join:", " }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><label class="reg23_label" for="id_last_name"><b>Last Name:</b></label></td>
        <td>{{ form.last_name }}</td>
    </tr>
    {% if form.title.errors %}
    <tr>
        <td colspan="2" class="reg23_form_error">{{ form.title.errors|join:", " }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><label class="reg23_label" for="id_title">Title:</label></td>
        <td>{{ form.title }}</td>
    </tr>
    {% if form.org.errors %}
    <tr>
        <td colspan="2" class="reg23_form_error">{{ form.org.errors|join:", " }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><label class="reg23_label" for="id_org"><b>Organization:</b></label></td>
        <td>{{ form.org }}</td>
    </tr>
    {% if form.zip_code.errors %}
    <tr>
        <td colspan="2" class="reg23_form_error">{{ form.zip_code.errors|join:", " }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><label class="reg23_label" for="id_zip_code"><b>Zip/Postal Code:</b></label></td>
        <td>{{ form.zip_code }}</td>
    </tr>
    {% if form.email.errors %}
    <tr>
        <td colspan="2" class="reg23_form_error">{{ form.email.errors|join:", " }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><label class="reg23_label" for="id_email"><b>Email:</b></label></td>
        <td>{{ form.email }}</td>
    </tr>
    {% if form.phone.errors %}
    <tr>
        <td colspan="2" class="reg23_form_error">{{ form.phone.errors|join:", " }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><label class="reg23_label" for="id_phone">Phone:</label></td>
        <td>{{ form.phone }}</td>
    </tr>
    </table>

    <p>
        <embed src="{{ agreement_url }}" width="90%" height="600">
    </p>

    <p>
        {% if form.agreed.errors %}
            <p class="reg23_form_error">{{ form.agreed.errors|join:", " }}</p>
        {% endif %}
        <label class="reg23_label">
            <b>I agree to the conditions in the form above:</b>
            {{ form.agreed }}
        </label>
    </p>
    <p>
    <input type="submit" value="Continue" />
    </p>
    {% csrf_token %}
    </form>

    <form method="post" action="../">
    <p>
    <input type="hidden" name="promo" value="{{ promo }}" />
    <input type="submit" value="Start Over" />
    </p>
    {% csrf_token %}
    </form>
{% else %}
Sponsorship registration is closed.
{% endif %}
</div>
{% endblock %}
