{% extends "admin/base_site.html" %}
{% load i18n %}
{% load reg6_filters %}
{% block content %}
<div id="content-main">
<style type="text/css">
.form_error { color: #FF0000; font-weight: bold }
b { font-weight: bold }
</style>

{% if success %}
    <p>
    Attendee successfully registered!
    </p>
    <hr />
{% endif %}

{% if failure %}
    <p class="form_error">
    {{ failure }}
    </p>
    <hr />
{% endif %}

<p>
Please type in the following information:
</p>

<p>
<form method="post" action=".">
<table>
<tr>
    <td><b>First Name</b></td>
    <td><input type="text" name="FIRST" maxlength="60" size="50" /></td>
</tr>
<tr>
    <td><b>Last Name</b></td>
    <td><input type="text" name="LAST" maxlength="60" size="50" /></td>
</tr>
<tr>
    <td><b>Email</b></td>
    <td><input type="text" name="EMAIL" maxlength="60" size="50" /></td>
</tr>
<tr>
    <td><b>Zip</b></td>
    <td><input type="text" name="ZIP" maxlength="20" size="10" /><br />
    </td>
</tr>
<tr>
    <td><b>Type</b></td>
    <td><select name="TICKET">
    {% for t in tickets %}
    <option value="{{ t.name }}">{{ t.name }} - {{ t.description }} - {{ t.price|money }}</option>
    {% endfor %}
    </select>
    <br />
    No promo codes can be applied here.
    </td>
</tr>
</table>
<input type="submit" value="Register" />
</form>
</p>
</div>
{% endblock %}

