{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
<div id="content-main">

{% if search %}
    <p>
    Search results for:<br />
    Last name: {{ last_name }}<br />
    Zip: {{ zip }}<br />
    Express Check-In Code: {{ express }}<br />
    Verisign: {{ verisign }}<br />
    </p>
{% endif %}

{% if attendees %}
    <table border="1">
    <tr>
        <th>Registration Number<br />Express Check-In Code</th>
        <th>Name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Reprint</th>
        <th>Update Info<br />AKA. Transfer</th>
        <th>Options</th>
    </tr>
    {% for person in attendees %}
        <tr>
        <td>
        <a href="https://register.socallinuxexpo.org/admin/reg6/attendee/{{ person.id }}/">{{ person.id }}</a><br />
        {{ person.checkin_code }}
        </td>
        <td>{{ person.first_name }} {{ person.last_name }}</td>
        <td>{{ person.badge_type.description }}</td>
        <td>
        {% if person.valid %}
            {% if person.checked_in %}
                Already Checked In
            {% else %}
                <form method="post" action="../finish_checkin/">
                <input type="hidden" name="id" value="{{ person.id }}">
                <input type="submit" value="Check In">
                </form>
            {% endif %}
        {% else %}
            Invalid
        {% endif %}
        </td>
        <td>
        {% if person.checked_in %}
            <form method="post" action="../reprint/">
            <input type="hidden" name="id" value="{{ person.id }}">
            <input type="submit" value="Reprint {{ person.rp_count }}">
            </form>
        {% endif %}
        </td>
        <td>
        <form method="post" action="../update_attendee/">
        <input type="hidden" name="id" value="{{ person.id }}">
        <input type="submit" value="Update Info">
        </form>
        </td>
        <td>
        {% if person.valid %}
            <form method="post" action="../email/">
            <input type="hidden" name="id" value="{{ person.id }}">
            <input type="submit" value="Email {{ person.email }}">
            </form>
        {% else %}
            <form method="post" action="../cash_payment_registered/">
            <input type="hidden" name="id" value="{{ person.id }}">
            <input type="submit" value="Cash Payment">
            </form>
        {% endif %}
        </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% if search %}
    <hr />
{% endif %}

<p>
Please type in the last name and/or zip code, or the express check-in code,
or the verisign confirmation:
</p>

<p>
<form method="post" action=".">
<table>
<tr>
    <td>Last Name</td>
    <td><input type="text" name="last_name" maxlength="60" size="40"
      value="{{ last_name }}" /></td>
</tr>
<tr>
    <td>Zip Code</td>
    <td><input type="text" name="zip" maxlength="10" size="10"
      value="{{ zip }}" /></td>
</tr>
<tr>
    <td>Express Check-In Code</td>
    <td><input type="text" name="express" maxlength="10" size="10"
      value="{{ express }}" /></td>
</tr>
<tr>
    <td>Verisign Confirmation</td>
    <td><input type="text" name="verisign" maxlength="12" size="12"
      value="{{ verisign }}" /></td>
</tr>
</table>
<input type="submit"
{% if search %}
value="Search Again"
{% else %}
value="Search"
{% endif %}
/>
</form>
</p>
</div>
{% endblock %}

