{% extends "reg6/reg.html" %}
{% load i18n %}
{% load reg6_filters %}
{% block content %}
<div id="content-main">

<table>
<tr>
<td>Name:</td>
<td>{{ name|escape }}</td>
</tr>
<tr>
<td>Email:</td>
<td>{{ email|escape }}</td>
</tr>
<tr>
<td>Order Number:</td>
<td>{{ order|escape }}</td>
</tr>
<tr>
<td>Amount:</td>
<td>{{ total|money|escape }}</td>
</tr>
</table>

<table border="1">
    <tr>
        <th>Registration Number</th>
        <th>Name</th>
        <th>Email</th>
        <th>Amount</th>
    </tr>
    {% for person in attendees %}
    <tr>
        <td>{{ person.id|escape }}</td>
        <td>{{ person.first_name|escape }} {{ person.last_name|escape }}</td>
        <td>{{ person.email|escape }}</td>
        <td>{{ person.ticket_cost|money|escape }}</td>
    </tr>
    {% endfor %}
</table>

{% if kiosk %}
<p>
Thank you for registering, please close this browser and go to the registration
counter to pick up your badge. If you need a receipt, please ask for it at the
registration counter.
</p>
{% endif %}

</div>
{% endblock %}

