{% extends "reg6/reg.html" %}
{% load i18n %}
{% load reg6_filters %}
{% block content %}
<div id="content-main">

{% if tickets %}
    <p>
    Please start the registration process by selecting a ticket type:
    </p>

    <form method="post" action="add_items/">
    <table border="1">
    <tr>
        <th>&nbsp;</th>
        <th>Ticket</th>
        <th>Price</th>
    </tr>
    {% for t in tickets %}
        <tr>
        <td><input type="radio" name="ticket" value="{{ t.name }}" /></td>
        <td>{{ t.description}}</td>
        <td>{{ t.price|money }}</td>
        </tr>
    {% endfor %}
    </table>

    {% if promo %}
    <p>
    Using promo code:
    <b>{{ promo }}</b>.
    <input type="hidden" name="promo" value="{{ promo }}" />
    </p>
    {% else %}
    <p>
    If you have a promo code, enter it here:
    </p>

    <p>
    <input type="text" name="promo" maxlength="5" size="5" />
    </p>
    {% endif %}

    <p>
    <input type="submit" value="Continue" />
    </p>
    </form>

    {% if promo %}
    <h2>
    Other Options:
    </h2>

    <form method="post" action=".">
    <input type="submit" value="Change promo code" />
    </form>
    {% endif %}
{% else %}
Registration is closed.
{% endif %}
</div>
{% endblock %}

