{% extends "admin/base_site_reg.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="/media/scale/js/sorttable.js"></script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div>
        <ul class="scale_horizontal_list">
            <li><a href="/simple_cfp/scores/">CFP Score Home</a></li>
            <li><a href="/simple_cfp/scores/audience/">By Audience</a></li>
            <li><a href="/simple_cfp/scores/category/">By Category</a></li>
            <li><a href="/simple_cfp/scores/speaker/">By Speaker</a></li>
            <li><a href="/simple_cfp/scores/status/">By Status</a></li>
        </ul>
    </div>
</div>
{% endblock %}
