{% extends "admin/base_site.html" %}
{% load i18n %}
{% load reg6_filters %}
{% block content %}
<div id="content-main">

<p>
Please fill in the information below, so we have a clue why this
coupon got created.
</p>

<form method="post" action=".">
<p>
<table>
<tr>
    <td><label for="id_name"><b>Name:</b></label></td>
    <td>{{ form.name }}</td>
</tr>
<tr>
    <td><label for="id_address"><b>Address:</b></label></td>
    <td>{{ form.address }}</td>
</tr>
<tr>
    <td><label for="id_city"><b>City:</b></label></td>
    <td>{{ form.city }}</td>
</tr>
<tr>
    <td><label for="id_state"><b>State:</b></label></td>
    <td>{{ form.state }}</td>
</tr>
<tr>
    <td><label for="id_zip"><b>Zip:</b></label></td>
    <td>{{ form.zip }}</td>
</tr>
<tr>
    <td><label for="id_country">Country:</label></td>
    <td>{{ form.country }}</td>
</tr>
<tr>
    <td><label for="id_email"><b>Email:</b></label></td>
    <td>{{ form.email }}</td>
</tr>
<tr>
    <td><label for="id_phone">Phone:</label></td>
    <td>{{ form.phone }}</td>
</tr>
<tr>
    <td><b>Type</b></td>
    <td><select name="TICKET">
    {% for t in tickets %}
    <option value="{{ t.name }}">{{ t.name }} - {{ t.description }}</option>
    {% endfor %}
    </select>
    <br />
    The attendees registered with this coupon will have this badge type. It
    does not matter what badge type they selected.
    </td>
</tr>
<tr>
    <td><b>Max Attendees</b></td>
    <td><input type="text" name="MAX_ATTENDEES" maxlength="3" size="3" /><br />
    This is the maximum number of attendees that can be paid for with this
    coupon.
    </td>
</tr>
</table>
<input type="submit" value="Submit" />
</p>
</form>

</div>
{% endblock %}

