{% extends "reg6/list.html" %}
{% load i18n admin_modify adminmedia %}
{% block content %}<div id="content-main">

{% if object_list %}
    <table border="1" class="sortable">
    <tr>
        {% for field in field_list %}
        {% ifequal field "obtained_items" %}
            <th>ordered_items</th>
        {% endifequal %}
        <th>{{ field }}</th>
        {% endfor %}
    </tr>
    {% for o in object_list %}
    <tr>
        <td>{{ o.id }}</td>
        <td>{{ o.badge_type }}</td>
        <td>{{ o.order }}</td>
        <td>{{ o.valid }}</td>
        <td>{{ o.checked_in }}</td>
        <td>{{ o.salutation }}</td>
        <td>{{ o.first_name }}</td>
        <td>{{ o.last_name }}</td>
        <td>{{ o.title }}</td>
        <td>{{ o.org }}</td>
        <td>{{ o.email }}</td>
        <td>{{ o.zip }}</td>
        <td>{{ o.phone }}</td>
        <td>{{ o.promo }}</td>
    <td>
        {% for item in o.ordered_items.all %}
            {{ item.name }}
        {% if not forloop.last %}
        ,
        {% endif %}
        {% endfor %}
    </td>
        <td>{{ o.obtained_items }}</td>
        <td>{{ o.survey_answers }}</td>
    </tr>
    {% endfor %}
    </table>
    <p>
    <b>Total {{ title }}</b>: {{ numbers }}<br />
    <b>Valid {{ title }}</b>: {{ valid }}<br />
    <b>Checked In {{ title }}</b>: {{ checkin }}<br />
    </p>
{% else %}
    <p>No attendees available.</p>
{% endif %}

</div>
{% endblock %}
