{% extends "reg6/list.html" %}
{% load i18n admin_modify adminmedia %}
{% block content %}<div id="content-main">

{% if object_list %}
    <table border="1" class="sortable">
    <tr>
        {% for field in field_list %}
        <th>{{ field }}</th>
        {% endfor %}
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    {% for o in object_list %}
    <tr>
        <td>{{ o.code }}</td>
        <td>{{ o.badge_type }}</td>
        <td>{{ o.order }}</td>
        <td>{{ o.used }}</td>
        <td>{{ o.max_attendees }}</td>
        <td>{{ o.expiration }}</td>
        <td>{{ o.order.name }}</td>
        <td>{{ o.order.address }}</td>
        <td>{{ o.order.city }}</td>
        <td>{{ o.order.state }}</td>
        <td>{{ o.order.email }}</td>
        <td>{{ o.order.phone }}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No answers available.</p>
{% endif %}

</div>
{% endblock %}
