{% extends "reg6/list.html" %}
{% load i18n admin_modify adminmedia %}
{% block content %}<div id="content-main">

{% if object_list %}
    <table border="1" class="sortable">
    <tr>
        {% for field in field_list %}
        <th>{{ field }}</th>
        {% endfor %}
    </tr>
    {% for o in object_list %}
    <tr>
        <td>{{ o.id }}</td>
        <td>{{ o.name }}</td>
        <td>{{ o.description }}</td>
        <td>{{ o.price }}</td>
        <td>{{ o.active }}</td>
        <td>{{ o.pickup }}</td>
        <td>{{ o.promo }}</td>
        <td>
        {% if o.applies_to_all %}
        ALL
        {% else %}
        {% for t in o.applies_to.all %}
            {{ t.name }}
        {% if not forloop.last %}
        ,
        {% endif %}
        {% endfor %}
        {% endif %}
    </td>
    </tr>
    {% endfor %}
    </table>
    <p>
    <b>Total {{ title }}</b>: {{ numbers }}<br />
    </p>
{% else %}
    <p>No items available.</p>
{% endif %}

</div>
{% endblock %}
