{% extends "reg6/reg.html" %}
{% load i18n %}
{% load reg6_filters %}
{% block content %}
<div id="content-main">

{% if search %}
    <p>
    Search results for:<br />
    First name: {{ first }}<br />
    Last name: {{ last }}<br />
    Email: {{ email }}<br />
    Zip/postal code: {{ zip }}<br />
    </p>

    {% if attendees %}
        <table border="1">
        <thead>
        <tr>
            <th>Registration Number</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for person in attendees %}
            <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.first_name }} {{ person.last_name }}</td>
            <td>
            <form method="post" action="../finish_checkin/">
            <input type="hidden" name="id" value="{{ person.id }}">
            <input type="submit" class="scale_kiosk_bordered" value="Check Me In">
            </form>
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>
        <b>No registration results found. Please check your information below and try again.</b>
        </p>
        <p>If you need to reprint a badge, please go to the help desk.</p>
    {% endif %}

    <hr />
{% endif %}

{% if reprint %}
    <p><b>Error: Attendee already checked in.</b></p>
    <p>If you need to reprint a badge, please go to the help desk.</p>
    <hr />
{% endif %}

{% if express_fail %}
    <p>
    <b>Error: "{{ express_code }}" is not a valid express check-in code.</b>
    </p>
    <hr />
{% endif %}

<p>
If you have an Express Check-In Code, please type it in below:<br />
(Express Check-In Codes are 10 digits, all lower cases.)
</p>

<p>
<form method="post" action=".">
<p><input type="text" name="express" maxlength="10" size="10" /></p>
<p><input type="submit" class="scale_kiosk_bordered" value="Check In" /></p>
</form>
</p>

<p>
Otherwise, please fill in all your registration information:
</p>

<p>
<form method="post" action=".">
<table>
<tr>
    <td>First Name</td>
    <td><input type="text" name="first" maxlength="60" size="40"
      value="{{ first }}" /></td>
</tr>
<tr>
    <td>Last Name</td>
    <td><input type="text" name="last" maxlength="60" size="40"
      value="{{ last }}" /></td>
</tr>
<tr>
    <td>Email</td>
    <td><input type="text" name="email" maxlength="75" size="40"
      value="{{ email }}" /></td>
</tr>
<tr>
    <td>Zip/Postal Code</td>
    <td><input type="text" name="zip" maxlength="10" size="10"
      value="{{ zip }}" /></td>
</tr>
</table>

<p>
<input type="submit" class="scale_kiosk_bordered"
{% if search %}
value="Find My Registration Again"
{% else %}
value="Find My Registration"
{% endif %}
/>
</p>

</form>
</p>

<p>
If you need to reprint a badge, please go to the help desk.
</p>
</div>
{% endblock %}

